<div id="day_103645">
  <ul class="activity_list">
    <% if @schedule.journeys != [] %>
      <li class="li_activity" id="activity_100531514" key="100531514" style="clear:both; border-bottom:#efefef 1px solid;  height:auto;">
        <div style="padding:3px 0;" id="activity_show_100531514">
          <div style="text-align:center;width:100px;font-size:16px; color:#555;font-family:'微软雅黑','黑体'; overflow:hidden;" class="left">
            <br>
          </div>        
          <div class="left">  
            <div style="width:20px; text-align:center; margin-top:6px;" class="left">
            </div>            
            <div style="width:350px; text-align:left;" class="left">
              <div style="font-size:20px; color:#181818;font-family:'微软雅黑';">
                <a href="http://d.lvren.cn/lvyou/chuxiong/ailaoshan" target="_blank" class="blue" style="font-family:'微软雅黑';">哀牢</a>
              </div>
              <div style="color:#999999;">植被茂盛，动物种类繁多。<br>
                开放时间：8：00-19：00<br>
                地址：云南楚雄</div>
              <div style="margin-top:10px;">
                <a rel="group" onclick="return false;" title="图片：" style="width:106px;" target="_blank" class="scenic_logo zoom" href="http://d.lvren.cn/lvyou/chuxiong/ailaoshan"><img width="100" height="70" src="http://5.pic.lvren.cn/scenic/100_70/20110401/23059846_cDZhE8.jpg"></a>
              </div>
            </div>
          </div>
          <div style="width:50px; text-align:right; padding:10px 10px 0 0; color:#999999;" class="right">
            -
          </div>
          <div style="width:150px; text-align:left; padding:10px 10px 0 0; color:#999999;" class="right">
            <div id="activity_act_100531514">
              <a title="上移" style="color:#999999;" onclick="plan.moveActivityUp(100531514);" href="javascript:void(0);">上移</a>
              <a title="下移" style="color:#999999;" onclick="plan.moveActivityDown(100531514);" href="javascript:void(0);">下移</a>
              &nbsp;<a style="color:#999999;" onclick="plan.showActivityMenu(100531514);" href="javascript:void(0);">操作<img align="absmiddle" src="/images/icon_ab.gif"></a>
              &nbsp;<a style="color:#999999;" onclick="plan.showMoveMenu(100531514);" href="javascript:void(0);">移至<img align="absmiddle" src="/images/icon_ab.gif"></a>
            </div>
            <div style="margin-left:60px;" id="activity_menu_100531514" class="hide amenu">
              <a onclick="plan.showActivityEdit(100531514);" href="javascript:void(0);">编辑</a>
              <a onclick="plan.uploadImage(100531514);" href="javascript:void(0);">上传附图</a>
              <a onclick="plan.delActivity(100531514);" href="javascript:void(0);">删除</a>
            </div>
            <div style="margin-left:100px;" id="move_menu_100531514" class="hide amenu">
              <a onclick="plan.moveSelectDay('103645','103644','1','100531514');" href="javascript:void(0);">移至第1天</a>
              <a onclick="plan.moveSelectDay('103645','103645','2','100531514');" href="javascript:void(0);">移至第2天</a>
              <a onclick="plan.moveSelectDay('103645','103651','3','100531514');" href="javascript:void(0);">移至第3天</a>
            </div>
            <div class="hide" id="activity_status_100531514">
              <img align="absmiddle" src="/images/loading.16.gif">
            </div>
          </div>
          <div class="clear"></div>
        </div><!-- //show -->
        <div style="background:#F2FFCA" class="hide" id="activity_edit_100531514">
        </div>
        <div style="height:0;" class="clear"><img height="1" src=""></div>
      </li>
      <li style="clear:both; border-bottom:#EFEFEF 1px solid; padding:3px 0;">
        <div style="margin-left:50px;width:400px; text-align:center; margin-top:10px;" class="left">
        </div>
        <div style="width:100px; text-align:right; padding:10px 10px 0 0; color:#999999;" class="right o currency">
          本日预算：<span class="o b currency">¥</span><span class="o b" id="day_costs_103645">0</span>
        </div>
        <div style="height:2px;" class="clear"><img height="1" src=""></div>
      </li>
    <% else %>
      <li style="clear:both; border-bottom:#EFEFEF 1px solid; padding:3px 0;">
        <div style="margin-left:50px;width:400px; text-align:center; margin-top:10px;" class="left">
          <span style="color:#878787;">请点击“添加行程”按钮将城市、景点、酒点、航班、列车等加入行程安排</span>
        </div>
      </li>
    <% end %>
  </ul> 
</div>

<div id="day_footer_103768"></div>

<div style="margin:5px; clear:both; margin-left:100px;">
  <a href="javascript:void(0);" onclick="addActivity(103651);">
    <img src="/images/btn_add_activity.png" border="0" align="absmiddle">
  </a>             


  <iframe id="iframe_103651" class="iframe_add_activity" src="/index.php?act=plan.activity_add&amp;dayid=103651" style="clear: both; overflow-x: hidden; overflow-y: hidden; border-top-color: rgb(171, 171, 171); border-right-color: rgb(171, 171, 171); border-bottom-color: rgb(171, 171, 171); border-left-color: rgb(171, 171, 171); border-top-width: 2px; border-right-width: 2px; border-bottom-width: 2px; border-left-width: 2px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; width: 606px; height: 260px; display: none; " frameborder="0" allowtransparency="true" scrolling="no">
    <html xmlns="http://www.w3.org/1999/xhtml"><head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>添加到旅行计划_旅行指南-旅人网</title>
        <link type="text/css" rel="stylesheet" href="/themes/main/css/main.css">
        <script src="/libs/jquery/jquery-1.3.2.min.js" type="text/javascript"></script>

      </head>

      <body class="plan">

        <!-- tipx -->
        <div style="background:#ff6600;color:#fff; position:absolute; top:0; right:0; padding:3px 10px; font-weight:bold; display:none;" id="tipx"></div>
        <!-- //tipx -->

        <div id="navMenu">
          <ul>
            <li id="menu_scenic" class="current" key="scenic">游玩</li>
            <li key="hotel" class="">住宿</li>
            <li key="flight" class="">航班</li>
            <li key="train" class="">列车</li>
            <!-- <li key="comm">交通</li> -->
            <li key="restaurant" class="">美食</li>
            <li key="ent" class="">娱乐</li>
            <li key="other" class="">其他</li>
          </ul>

          <div style="margin-right:5px; margin-top:2px;" class="right">
            <a onclick="closeThis(103644);" href="javascript:void(0);">[关闭]</a>
          </div>

          <div class="clear"></div>
        </div>

        <!-- loading -->
        <div style="display:none; position:absolute;width:100%;  z-index:9999;" id="loading">
          <div style="text-align:center; padding-top:60px; height:300px; background:#ffffff;">
            <img src="/images/loading.gif">
            <br>
            <br>
            加载中...
          </div>
        </div>
        <!-- //loading -->

        <div style="display: block;" class="box" id="box_scenic">
          <div style=" height:26px; border-bottom:#eaeaea 1px solid;" id="scenic_header">
            <div style="line-height:26px;" class="left">
              目的城市：
              <span id="planed_citys_menu">
                <!-- ajax 会更新此段代码 -->
                <a class="blue uline" onclick="getScenicSubList(48589);" href="javascript:void(0);">楚雄</a>&nbsp;&nbsp;
                <!-- ajax 会更新此段代码 -->
                <a class="blue uline" onclick="getScenicSubList(235127);" href="javascript:void(0);">巴黎</a>&nbsp;&nbsp;
              </span>

              <a class="blue uline" onclick="getChinaCitys();" href="javascript:void(0);">更多城市&gt;&gt;</a>&nbsp;&nbsp;

            </div>

            <div style="margin-top:-2px;" class="right">
              <input type="text" id="keyword_scenic" style="margin:0;"><input type="image" onclick="searchScenic();" style="border:none;" src="/images/btn_search.gif">

            </div>
          </div>

          <div id="scenic_home">
          </div>



          <div style="margin-top:5px;" class="clear" id="scenic_data">

            <ul class="travel_commend_list">
              <li>
                <a onclick="getScenicSubList(239840);" class="logo" href="javascript:void(0);"><img width="80" height="80" title="查看下级包含景点" onerror="this.src='/images/noimg.80.png';" src="http://5.pic.lvren.cn/scenic/80_80/20110401/23059831_TtJpkV.jpg"></a>
                <a title="访问景点详情" href="/lvyou/langbapu" class="blue" target="_blank">浪巴铺土林</a>
                <br>
                <a onclick="activity.add(239840);" href="javascript:void(0);"><img src="/images/btn_add_travel_mini2.png"></a>
              </li>
              <li>
                <a onclick="getScenicSubList(3925);" class="logo" href="javascript:void(0);"><img width="80" height="80" title="查看下级包含景点" onerror="this.src='/images/noimg.80.png';" src="http://5.pic.lvren.cn/scenic/80_80/20110331/23059641_hwwdpX.jpg"></a>
                <a title="访问景点详情" href="/lvyou/lufeng/konglonghuashi" class="blue" target="_blank">恐龙化石遗址</a>
                <br>
                <a onclick="activity.add(3925);" href="javascript:void(0);"><img src="/images/btn_add_travel_mini2.png"></a>
              </li>
              <li>
                <a onclick="getScenicSubList(3943);" class="logo" href="javascript:void(0);"><img width="80" height="80" title="查看下级包含景点" onerror="this.src='/images/noimg.80.png';" src="http://5.pic.lvren.cn/scenic/80_80/20110401/23059830_EhJOxF.jpg"></a>
                <a title="访问景点详情" href="/lvyou/hutiaotan" class="blue" target="_blank">虎跳滩土林</a>
                <br>
                <a onclick="activity.add(3943);" href="javascript:void(0);"><img src="/images/btn_add_travel_mini2.png"></a>
              </li>
              <li>
                <a onclick="getScenicSubList();" class="logo" href="javascript:void(0);"><img width="80" height="80" title="查看下级包含景点" onerror="this.src='/images/noimg.80.png';" src="/images/noimg.80.png"></a>
                <a title="访问景点详情" href="/lvyou/" class="blue" target="_blank"></a>
                <br>
                <a onclick="activity.add();" href="javascript:void(0);"><img src="/images/btn_add_travel_mini2.png"></a>
              </li>
              <li>
                <a onclick="getScenicSubList(3938);" class="logo" href="javascript:void(0);"><img width="80" height="80" title="查看下级包含景点" onerror="this.src='/images/noimg.80.png';" src="http://5.pic.lvren.cn/scenic/80_80/20110401/23059846_cDZhE8.jpg"></a>
                <a title="访问景点详情" href="/lvyou/chuxiong/ailaoshan" class="blue" target="_blank">哀牢山</a>
                <br>
                <a onclick="activity.add(3938);" href="javascript:void(0);"><img src="/images/btn_add_travel_mini2.png"></a>
              </li>
              <li>
                <a onclick="getScenicSubList();" class="logo" href="javascript:void(0);"><img width="80" height="80" title="查看下级包含景点" onerror="this.src='/images/noimg.80.png';" src="/images/noimg.80.png"></a>
                <a title="访问景点详情" href="/lvyou/" class="blue" target="_blank"></a>
                <br>
                <a onclick="activity.add();" href="javascript:void(0);"><img src="/images/btn_add_travel_mini2.png"></a>
              </li>
            </ul>

            <div class="clear">
              <table cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody><tr>
                    <td style="padding:2px 5px 0 5px;"><img src="/themes/main/images/ico_arrow_l.gif"></td>
                    <td width="1" nowrap="nowrap" bgcolor="#cccccc"></td>
                    <td align="center" style="padding:2px 9px 0 8px; cursor:pointer;color:#FF6600;background='#ffffff'"><b>1</b></td>
                    <td width="1" nowrap="nowrap" bgcolor="#cccccc"></td>
                    <td align="center" onmouseout="this.style.background='#FFFFFF'" onmouseover="this.style.background='#D9FF66'" style="padding:2px 9px 0 8px; cursor:pointer;"><b><a url="2" onclick="getPlanedScenic('2');" href="javascript:void(0);">2</a></b></td>
                    <td width="1" nowrap="nowrap" bgcolor="#cccccc"></td>
                    <td align="center" onmouseout="this.style.background='#FFFFFF'" onmouseover="this.style.background='#D9FF66'" style="padding:2px 9px 0 8px; cursor:pointer;"><b><a url="2" onclick="getPlanedScenic('2');" href="javascript:void(0);">下页</a></b></td>
                    <td width="1" nowrap="nowrap" bgcolor="#cccccc"></td>
                    <td align="center" onmouseout="this.style.background='#FFFFFF'" onmouseover="this.style.background='#D9FF66'" style="padding:2px 9px 0 8px; cursor:pointer;"><b><a url="2" onclick="getPlanedScenic('2');" href="javascript:void(0);">尾页</a></b></td>
                    <td width="1" nowrap="nowrap" bgcolor="#cccccc"></td>
                    <td height="16" style="padding:2px 5px 0 5px;"><img src="/themes/main/images/ico_arrow_r.gif"></td>
                  </tr>
            </tbody></table>			</div>

            <div style="padding:5px;border-top: 1px dashed #CCCCCC;"><strong>操作说明：</strong>点击景点图片进入查看下级包含景点，点击景点名称进入该景点最终页查看详情</div>
          </div>

          <div class="activity_add" id="scenic_add" style="display: none;">
            <div class="box details" style="margin: 5px; float: left; width: 260px; overflow: hidden; display: none;" id="scenic_details"></div>
          </div>
        </div>

        <div class="box" id="box_hotel" style="display: none;">
          <div style=" height:26px; border-bottom:#eaeaea 1px solid;" id="hotel_header">
            <div style="line-height:26px;" class="left">
              目的城市：
              <span id="planed_citys_menu_hotel">
                <!-- ajax 会更新此段代码 -->
                <a class="blue uline" onclick="hotel.home('楚雄');" href="javascript:void(0);">楚雄</a>&nbsp;&nbsp;
                <!-- ajax 会更新此段代码 -->
                <a class="blue uline" onclick="hotel.home('巴黎');" href="javascript:void(0);">巴黎</a>&nbsp;&nbsp;
              </span>

              <a class="blue uline" onclick="hotel.citys();" href="javascript:void(0);">更多城市&gt;&gt;</a>&nbsp;&nbsp;
            </div>

            <div style="margin-top:-2px;" class="right">
              <input type="text" id="keyword_hotel" style="margin:0;"><input type="image" onclick="hotel.search();" style="border:none;" src="/images/btn_search.gif">
            </div>
          </div>


          <!-- 酒店搜索 -->



          <div style="margin-top:5px; " class="clear" id="hotel_data">
            <div style="margin:20px 10px;">

              <div style="margin:5px;">打算在那里住？</div>

              <ul class="travel_commend_list">
                <li>
                  <a onclick="hotel.getCityHotelTypes('楚雄');" class="logo" href="javascript:void(0);"><img width="80" height="80" onerror="this.src='/images/noimg.80.png';" src="http://5.pic.lvren.cn/scenic/80_80/20110403/23059968_OPs7jB.jpg"></a>
                  <a title="楚雄" onclick="hotel.getCityHotelTypes('楚雄');" class="blue" href="javascript:void(0);">楚雄</a>
                </li>
                <li>
                  <a onclick="hotel.getCityHotelTypes('巴黎');" class="logo" href="javascript:void(0);"><img width="80" height="80" onerror="this.src='/images/noimg.80.png';" src="http://5.pic.lvren.cn/scenic/80_80/20101221/23043069_KFGzfx.jpg"></a>
                  <a title="巴黎" onclick="hotel.getCityHotelTypes('巴黎');" class="blue" href="javascript:void(0);">巴黎</a>
                </li>
              </ul>

            </div>
          </div>

          <div class="activity_add" id="hotel_add">
            <div class="box details" style="margin: 5px; float: left; width: 300px; overflow: hidden; display: none;" id="hotel_details"></div>
        </div>    </div>

        <div class="box" id="box_flight" style="display: none;">
          <!-- flight -->
          <div style=" height:26px; border-bottom:#eaeaea 1px solid;" id="flight_header">
            <div style="margin-top:-2px;" class="left">
              出发地： <input type="text" id="flight_origin" style="margin:0;">
              目的地： <input type="text" id="flight_destination" style="margin:0;"><input type="image" onclick="searchFlight();" style="border:none;" src="/images/btn_search.gif">                    
            </div>
          </div>

          <div id="flight_home">
          </div>
          <div style="margin-top:5px;" class="clear" id="flight_data">
            <div style=" text-align:center; margin:60px 0;">
              请输入出发地和目的地查找航班信息。
            </div>
          </div>
          <div class="activity_add" id="flight_add">
            <div class="box details" style="margin: 5px; float: left; width: 260px; overflow: hidden; display: none;" id="flight_details"></div>
          </div>
          <!-- //flight -->
        </div>

        <div class="box" id="box_train" style="display: none;">
          <!-- train -->
          <div style=" height:26px; border-bottom:#eaeaea 1px solid;" id="train_header">
            <div style="margin-top:-2px;" class="left">
              出发地： <input type="text" id="train_from" style="margin:0;">
              目的地： <input type="text" id="train_to" style="margin:0;"><input type="image" onclick="searchTrain();" style="border:none;" src="/images/btn_search.gif">                    
            </div>
          </div>

          <div id="train_home">
          </div>
          <div style="margin-top:5px;" class="clear" id="train_data">
            <div style=" text-align:center; margin:60px 0;">
              请输入出发地和目的地查找列车信息。
            </div>
          </div>
          <div class="activity_add" id="train_add">
            <div class="box details" style="margin: 5px; float: left; width: 260px; overflow: hidden; display: none;" id="train_details"></div>
          </div>
          <!-- //train -->    </div>

        <div class="box" id="box_restaurant" style="display: none;">
          <!-- restaurant -->
          <div style=" height:26px; border-bottom:#eaeaea 1px solid;" id="restaurant_header">
          </div>
          <div id="restaurant_home">
          </div>
          <div style="margin-top:5px;" class="clear" id="restaurant_data">
          </div>
          <div class="activity_add" id="restaurant_add">
            <div class="box details" style="margin: 5px; float: left; width: 260px; overflow: hidden; display: none;" id="restaurant_details"></div>
          </div>
          <!-- //restaurant -->
        </div>

        <div class="box" id="box_ent" style="display: none;">
          <!-- ent -->
          <div style=" height:26px; border-bottom:#eaeaea 1px solid;" id="ent_header">
          </div>
          <div id="ent_home">
          </div>
          <div style="margin-top:5px;" class="clear" id="ent_data">
          </div>
          <div class="activity_add" id="ent_add">
            <div class="box details" style="margin: 5px; float: left; width: 260px; overflow: hidden; display: none;" id="ent_details"></div>
          </div>
          <!-- //ent -->
        </div>

        <div class="box" id="box_other" style="display: none;">
          <!-- other -->
          <div style=" height:26px; border-bottom:#eaeaea 1px solid;" id="other_header">
          </div>
          <div id="other_home">
          </div>
          <div style="margin-top:5px;" class="clear" id="other_data">
          </div>
          <div class="activity_add" id="other_add">
            <div class="box details" style="margin: 5px; float: left; width: 260px; overflow: hidden; display: none;" id="other_details"></div>
          </div>
          <!-- //other -->
        </div>

        <div style="margin:5px; float:left; display:none;" id="addActivity">
          <form method="post" name="frmAdd" id="frmAdd">
            <ul class="uf_add_activity">
              <li>
                <span> 标题：</span>
                <div><input type="text" style="width:180px;" value="" id="title" name="title"><b class="o">*</b></div>
              </li>

              <li>
                <span> 说明：</span>
                <div><textarea onblur="this.style.height='60px';this.style.position='relative';this.style.width='180px';$('#times').show();" onfocus="$('#times').hide();this.style.height='120px';this.style.position='absolute';this.style.width='320px';" style="width:180px; height:60px; z-index:999;" id="description" name="description"></textarea></div>
              </li>

              <li>
                <span> 时间：</span>
                <div id="times">
                  <input type="text" style=" width:50px;margin-right:5px;" value="" id="starts" name="starts">～<input type="text" style="width:50px;margin-left:5px;" value="" id="ends" name="ends">如：08:22~12:30</div>
              </li>

              <li>
                <span> 预算：</span>
                <div><input type="text" style="width:50px;" value="" id="costs" name="costs">人均预算(RMB)</div>
              </li>

              <li>
                <span></span>
                <div>
                  <input type="button" onclick="activity.save();" onmouseover="this.className='btn btn_def_hv'" onmouseout="this.className='btn btn_def'" class="btn btn_def" value="保存" name="button">

                  <input type="button" onclick="activity.cancel();" onmouseover="this.className='btn btn_gray_hv'" onmouseout="this.className='btn btn_gray'" class="btn btn_gray" value="返回" name="button">
                </div>
              </li>
            </ul>
            <input type="hidden" value="103644" id="dayid" name="dayid">
            <input type="hidden" value="" id="linktype" name="linktype">
            <input type="hidden" value="" id="linkid" name="linkid">
          </form>
        </div>



        <script src="/js/activity.js" type="text/javascript"></script>
        <script language="javascript">
          &lt;!--

          var planid = 522518;
          var current = 'scenic';

          var tipx	 = new iTipx();
          var activity = new iActivity(current);
          var hotel = new iHotel();



          $(function(){

            $("#navMenu li").click(function(){

              $("#navMenu li").removeClass('current');
              $(this).addClass('current');

              $("div.box").hide();

              var type = $(this).attr('key');
              var box = '#box_' + type;

              current = type;

              activity.clear();
              activity.type(type);

              $(box).show();

              switch(type)
              {
                case 'restaurant':
                case 'ent':
                case 'other':
                activity.addex();
                break;
                default:
                activity.cancel();
                break;
              }

            });


            $('#menu_scenic').click();

          });
          --&gt;
        </script>
    </body>
  </html>
  </iframe>
</div>
</div>
