<!-- loading -->
<div style="display:none; position:absolute;width:100%;  z-index:9999;" id="loading">
  <div style="text-align:center; padding-top:60px; height:300px; background:#ffffff;">
    <img src="/images/loading.16.gif">
    <br>
    <br>
    加载中...
  </div>
</div>
<!-- //loading -->
