<h1>我的旅行计划</h1>

<div id="main" class="new">
  <div class="sbox">
    <div class="sbody sbg">
      <ul class="logos">
        <% @plans.each do |plan| %>
          <li style="line-height:23px; float:left; width:130px; height:150px;text-align:center; margin-right:10px;">
            <b></b>
            <%= link_to image_tag('http://5.pic.lvren.cn/plan_logo/100_100/20110622/522518_1308730429.jpg', :style => "width:100px;height:100px"), plan, :class => "logo", :style => "with:104px;" %>
            <%= link_to plan.name, plan, :class => "blue uline" %>
          </li>
        <% end %>
      </ul>		
    </div>
  </div>
</div>
<div id="right" class="new">
</div>
