<div class="tc-footer-container">
  <div class="tc-footer-main">
    <ul>
      <li>
        <strong>筹备旅行</strong><br>
        <a href="http://d.lvren.cn" title="目的地指南">目的地指南</a><br>
        <a href="http://d.lvren.cn/guide/">旅游攻略</a><br>
        <a href="http://d.lvren.cn/plan/">旅行计划</a><br>
        <a href="http://www.lvren.cn/advisor" title="旅游顾问">旅游顾问</a><br>
      </li>

      <li>
        <strong>工具</strong><br>
        <a href="http://hotel.lvren.cn/" title="酒店">住宿</a><br>
        <a href="#">机票</a><br>
        <a href="http://huoche.lvren.cn/" title="火车票">火车票</a><br>
        <a href="http://map.lvren.cn/" title="地图">地图</a><br>                
      </li>

      <li>
        <strong>手机旅人</strong><br>
        <a href="http://i.lvren.cn" target="_blank">手机版</a><br>
        <a href="http://itunes.apple.com/cn/app/id400195802?mt=8" target="_blank">iPhone版(攻略)</a><br>
        <a href="http://stats.lvren.cn/client/android/lvren.guide.v1.0.0.apk" target="_blank">Andorid版(攻略)</a><br>
      </li>

      <li>
        <strong>关注我们</strong><br>
        <a href="http://t.qq.com/lvrenwang" target="_blank">腾讯微博</a><br>
        <a href="http://user.qzone.qq.com/1416973744" target="_blank">腾讯空间</a><br>
        <a href="http://site.douban.com/107894/" target="_blank">豆瓣</a><br>
        <a href="http://t.sina.com.cn/lvrenwang" target="_blank">新浪微博</a><br>
      </li>

      <li>
        <strong>旅人网</strong><br>
        <a href="http://www.lvren.cn/about/index.html">关于我们</a><br>
        <a href="http://www.lvren.cn/about/job.html">招聘</a><br>
        <a href="http://www.lvren.cn/about/contact.html">联系我们</a><br>
        <a href="http://www.lvren.cn/about/flink/more.php">友情链接</a><br>
        <a href="http://d.lvren.cn/bingo/" target="_blank">意见反馈</a><br>
      </li>

    </ul>


    <div class="tc-footer-copyright">
      <img src="http://d.lvren.cn/themes/main/images/logo.df.png"><br>
      ©2011 <a href="http://www.lvren.cn" title="旅人网" target="_blank">旅人网</a> 版权所有.
    </div>

  </div>

  <div class="tc-clear"></div>
</div>
